:root {
    /* colors */
    --default-text-color-dark:#000;
    --default-text-color-light:#fff;
    --body-background-color:#fff;
    --navbar-background-color:#fff;
    --navbar-ticket-color:#FAFF1E;
    --nav-bg: #ffff00;
    --filter-background-color:#464646;
    --filter-background-color-hover:#7d7d7d;  

    /* font */
    
    --default-font-family:'DIN Next', sans-serif;
    --default-font-size: 16px;
    --font-weigh-navbar: 600;

    --h1-font:34px;
    --h2-font:2px;
    --h3-font:22px;
}
