:root {
    /* colors */
    --default-text-color-dark:#000;
    --default-text-color-light:#fff;

    --body-background-color:#fff;
    --navbar-background-color:#fff;
    --navbar-ticket-color:#FAFF1E;
    --filter-background-color:#464646;
    --filter-background-color-hover:#7d7d7d;    
}