:root {
    /* colors */
    --rose: #fe0879ff;
    --rose-pink: #ff78dfff;
    --gold: #fed715ff;
    --persian-blue: #0037b3ff;
    --argentinian-blue: #70baffff;

    /* font */
    
    --default-font-family:'DIN Next', sans-serif;
    --default-font-size: 16px;
    --font-weigh-navbar: 600;

    --h1-font:34px;
    --h2-font:2px;
    --h3-font:22px;
}


* {
    box-sizing: border-box;
}

